.home-wrapper {
  width: 600px;
  user-select: none;
}

.combine-btn {
  margin-right: 6px;
  margin-bottom: 10px;
  background-color: #52c41a;
}

.list-wrapper {
  border: 1px solid #eee;
  padding: 20px 10px;
  border-radius: 20px;
}

.search-wrapper {
  margin-bottom: 8px;
}
.domain-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #efefef;
  display: block;
  overflow: hidden;
}
.domain-header {
  color: #333 !important;
}

.tab-one {
  font-size: 13px;
  height: 40px;
  cursor: pointer;
  border-bottom: 1px dashed @color-main;

  &:last-child {
    border-bottom: 0;
  }

  .title {
    color: @color-text;
    flex: 1;
  }

  .action {
    // padding-right: 10px;
    width: 50px;
    color: #b1b3b8;
    height: 100%;
    // font-size: 20px;

    .action-icon {
      font-size: 18px;

      &:first-child {
        margin-right: 2px;
      }
    }
  }
}

.domain-delete {
  color: #909399;
}

.tab {
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b3e19d;
    display: inline-block;
    margin-right: 4px;
  }
}

.operation {
  width: 100px;
}
