.home-wrapper {
    width: 600px;
    user-select: none;
}

.list-wrapper {
    border: 1px solid #eee;
    padding: 20px 10px;
    border-radius: 20px;
}

.search-wrapper {
    margin-bottom: 8px;
}

.tab-one {
    font-size: 13px;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px dashed @color-main;

    .icon {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        border-radius: 50%;
    }

    &:last-child {
        border-bottom: 0;
    }

    .title {
        color: @color-text;
        flex: 1
    }

    .action {
        padding-right: 10px;
        width: 40px;
        color: #909399;
        font-size: 20px;
    }
}