.later-page {
  width: 100%;
  border: 1px solid red;
  .btn-groups {
    margin-bottom: 10px;
    gap: 10px;
    .sort-btn {
      border: 1px solid rgb(147, 83, 220);
      padding: 4px 6px;
      border-radius: 2px;
      color: #333;
      font-size: 12px;
    }
  }
}
