.later-page {
  width: 100%;
  .btn-groups {
    margin-bottom: 10px;
  }

  .list-operation {
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    .operation {
      display: flex;
      gap: 10px;
      font-size: 16px;
    }
  }
  // 快捷搜索
  .quicky-row {
    margin: 12px 0;
  }

  .history-item {
    padding: 4px 0;
    border-bottom: 1px solid #efefef;
    .visit-count {
      color: #999;
      width: 20px;
      height: 20rpx;
      border-radius: 50%;
      font-size: 11px;
      margin-left: 10px;
      background: rgb(247, 233, 216);
    }
  }
}
