.later-list {
  height: 255px;
  .time {
    font-size: 10px;
    color: #aaa;
    font-weight: 400;
  }
  .desc {
    margin-top: -6px;
    font-size: 10px;
  }
  .title {
    font-size: 12px;
  }
  .icon {
    font-size: 20px;
    color: #aaa;
    font-weight: 400;
  }

  .header {
    background: #edeff6;
    padding: 0 10px;
    height: 40px;
    color: #4c4c4c;
    box-sizing: border-box;
    font-weight: 500;
  }
  .ant-list-header {
    background: #edeff6;
    padding: 0;
  }
  .ant-avatar {
    width: 24px;
    height: 24px;
  }
  .ant-list-item-meta {
    align-items: center !important;
  }
  .ant-list-items {
    height: 215px;
    overflow-y: scroll;
  }
  &.done-list {
    margin-top: 12px;
    .ant-list-item {
      background: #edeff6;
    }
  }
}

.ant-list .ant-list-item {
  padding: 4px 10px;
}
